*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    max-width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(116, 181, 181);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.navbar_item {
    display: flex;
    align-items: center;

}

ul { display: flex;
    list-style-type: none;
    gap: 20px;
}

ul,li,a {
    text-decoration: none;
}
a:visited{
    color: white;
}

button {
    width: 120px;
    height: 30px;
    background-color: blue;
    border-radius: 16px;
    padding: 8px 12px;
    border: 1px solid white;
   margin: 10px;
}


.container {
    max-width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px 0px;
    gap: 40px;

}

.box {
width: 600px;
    height: 600px;
    background-color: rgb(24, 23, 24);
    background-image: url(./Screenshot\ \(219\).png);
    background-size: cover;
    margin-left: 20px;
}

.box1{
    width: 800px;
    height: 600px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  padding: 20px 0px;
}

.new {
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px ;
    gap: 20px;
   


}


.new h1 {
    color: rgb(82, 82, 215);
    font-size: 40px;
}
.new p {
    color: rgb(21, 21, 21);
  font-size: large;
}
.new1 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.new2 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.new3 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
  
}

.new4 {
    width: 650px;
    height: 150px;
    margin-bottom: 70px;
    text-align: left;
    padding-top: 20px;

}
.new4 p {
    color: rgb(28, 28, 28);
    line-height:2;
    font-size: large;

}

.text button  {
    width: 140px;
    height: 40px;
    border-radius: 16px;
    background-color: rgb(51, 116, 116);
    color: aliceblue;
    border: none;
}

button :hover {
  color:rgb(97, 41, 41) ;
}

li :hover {
    color: darkblue;
}
.sample {
    width: 100%;
    height: 600px;
   background-color: rgb(94, 85, 85);
}

.sample_title {
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}

.sample1 {
    width: 92%;
    height: 500px;
    background-color: blue;
    display: flex;
}
.sample11 {
    width: 50%;
    height: 500px;
    background-image: url(./Screenshot\ \(221\).png);
    background-size: cover;
}

.sample12 {
    width: 50%;
    height: 500px;
    background-color: rgb(36, 13, 94);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sample12 :first-child {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
   font-style: italic;
  color: rgb(195, 149, 33);
  padding: 20px;
  
}

.sample12 :last-child {
    color: white;
    font-size:xx-large;
    padding: 20px;
    font-family: 'Lucida Sans',   Verdana, sans-serif;
}

.form {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px; 
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
    display: flex; 
    flex-wrap: wrap;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="date"],
.form textarea {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
     padding-left: 10px; 
  
}


.apple {
   max-width:100%;
   height: 100vh;
   background-color: rgb(170, 191, 212);
}

.apple_title {
display: flex;
padding: 15px;
}

.apple1 {
    width: 30%;
    height: 100vh;
    background-color: rgb(20, 20, 39);
    padding: 40px 60px 40px 60px;
    line-height: 2.2;
    padding-top: 100px;

}
.apple1 h1 {
  padding-bottom: 20px;
  padding-top: 90px;
}

.apple2 {
    width: 70%;
    height: 100vh;
    background-color: rgb(136, 31, 119);
  
 
    
}
.top {
    width: 100%;
    height: 50%;
    background-color: gold;
    display: flex;
    align-items: center;

}

.button {
    width: 100%;
    height: 50%;
    background-color: rgb(211, 15, 143);
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/cat-instagram-captions-64ff2dfa47e9a.jpg?crop=1xw:0.84375xh;center,top);
    background-size: cover;
}

.left{
    width: 50%;
    height: 100%;
    background-color: forestgreen;
    background-image: url(https://d3544la1u8djza.cloudfront.net/APHI/Blog/2016/10_October/persians/Persian+Cat+Facts+History+Personality+and+Care+_+ASPCA+Pet+Health+Insurance+_+white+Persian+cat+resting+on+a+brown+sofa-min.jpg);
    background-size: cover;
}

.rigth {
    width: 50%;
    height: 100%;
    background-color: rgb(227, 227, 234);
    padding: 60px;
    line-height: 1.7;
    text-align: left;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
 
 

}

.apple1 h1 , p {
    color: white;
}


.txt {
    height: 50px;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    overflow: hidden;
    border-radius: 10px;
    font-size: larger;
    color: rgb(241, 244, 246);
    margin-bottom: 60px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    max-width: 100%;
    height: 60px;
    color: white;
    background-color: rgb(116, 181, 181);
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.navbar_item {
    display: flex;
    align-items: center;

}

ul { display: flex;
    list-style-type: none;
    gap: 20px;
}

ul,li,a {
    text-decoration: none;
}
a:visited{
    color: white;
}

button {
    width: 120px;
    height: 30px;
    background-color: blue;
    border-radius: 16px;
    padding: 8px 12px;
    border: 1px solid white;
   margin: 10px;
}


.container {
    max-width: 100%;
    height: 100vh;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px 0px;
    gap: 40px;

}

.box {
width: 600px;
    height: 600px;
    background-color: rgb(24, 23, 24);
    background-image: url(./Screenshot\ \(219\).png);
    background-size: cover;
    margin-left: 20px;
}

.box1{
    width: 800px;
    height: 600px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  padding: 20px 0px;
}

.new {
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 20px ;
    gap: 20px;
   


}


.new h1 {
    color: rgb(82, 82, 215);
    font-size: 40px;
}
.new p {
    color: rgb(21, 21, 21);
  font-size: large;
}
.new1 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.new2 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
}

.new3 {
    width: 150px;
    height: 100px;
    padding-top: 20px;
  
}

.new4 {
    width: 650px;
    height: 150px;
    margin-bottom: 70px;
    text-align: left;
    padding-top: 20px;

}
.new4 p {
    color: rgb(28, 28, 28);
    line-height:2;
    font-size: large;

}

.text button  {
    width: 140px;
    height: 40px;
    border-radius: 16px;
    background-color: rgb(51, 116, 116);
    color: aliceblue;
    border: none;
}

button :hover {
  color:rgb(97, 41, 41) ;
}

ul :hover {
    color: darkblue;
}
.sample {
    width: 100%;
    height: 600px;
   background-color: rgb(94, 85, 85);
}

.sample_title {
display: flex;
justify-content: center;
align-items: center;
padding: 40px;
}

.sample1 {
    width: 92%;
    height: 500px;
    background-color: blue;
    display: flex;
}
.sample11 {
    width: 50%;
    height: 500px;
    background-image: url(./Screenshot\ \(221\).png);
    background-size: cover;
}

.sample12 {
    width: 50%;
    height: 500px;
    background-color: rgb(36, 13, 94);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sample12 :first-child {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
   font-style: italic;
  color: rgb(195, 149, 33);
  padding: 20px;
  
}

.sample12 :last-child {
    color: white;
    font-size:xx-large;
    padding: 20px;
    font-family: 'Lucida Sans',   Verdana, sans-serif;
}

.form {
    width: 100%;
    max-width: 600px;
    height: auto;
    padding: 20px; 
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
    display: flex; 
    flex-wrap: wrap;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="date"],
.form textarea {
    width: 100%;
    max-width: 400px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
     padding-left: 10px; 
  
}


.apple {
   max-width:100%;
   height: 100vh;
   background-color: rgb(170, 191, 212);
}

.apple_title {
display: flex;
padding: 15px;
}

.apple1 {
    width: 30%;
    height: 100vh;
    background-color: rgb(20, 20, 39);
    padding: 40px 60px 40px 60px;
    line-height: 2.2;
    padding-top: 100px;

}
.apple1 h1 {
  padding-bottom: 20px;
  padding-top: 90px;
}

.apple2 {
    width: 70%;
    height: 100vh;
    background-color: rgb(136, 31, 119);
  
 
    
}
.top {
    width: 100%;
    height: 50%;
    background-color: gold;
    display: flex;
    align-items: center;

}

.button {
    width: 100%;
    height: 50%;
    background-color: rgb(211, 15, 143);
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/cat-instagram-captions-64ff2dfa47e9a.jpg?crop=1xw:0.84375xh;center,top);
    background-size: cover;
}
.left{
    width: 50%;
    height: 100%;
    background-color: forestgreen;
    background-image: url(https://d3544la1u8djza.cloudfront.net/APHI/Blog/2016/10_October/persians/Persian+Cat+Facts+History+Personality+and+Care+_+ASPCA+Pet+Health+Insurance+_+white+Persian+cat+resting+on+a+brown+sofa-min.jpg);
    background-size: cover;
}

.rigth {
    width: 50%;
    height: 100%;
    background-color: rgb(227, 227, 234);
    padding: 60px;
    line-height: 1.7;
    text-align: left;
    font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
 
 

}

.apple1 h1 , p {
    color: white;
}


.txt {
    height: 50px;
    width: 200px;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #e7e7e7;
    overflow: hidden;
    border-radius: 10px;
    font-size: larger;
    color: rgb(241, 244, 246);
    margin-bottom: 60px;
}









